:root {
  --default-font: "Raleway", sans-serif;
}

body {
  font-family: var(--default-font);
}

form {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.btn {
  border: 1px solid #000;
  border-radius: 5px;
  margin-left: 15px;
}
